/* reset */

* {
    padding: 0;
    margin: 0
}

/* zagolovoki */
h1 {
    text-align: center;
    font-family: monospace;
    font-family: 'Bebas Neue', cursive;
    font-size: 125px;
    color: aliceblue;
}

/**/
header {
    background-image: linear-gradient(rgba(140, 3, 14, 0.3), rgba(0, 0, 0, 0.5)), url(../IMG/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    background-attachment: fixed;
    background-position: center;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 10px;
}

/* ft zagolovka */
#cover {
    display: block;
    height: 350px;
    width: 1000px;
    margin: 0 auto;

}

nav {
    padding-top: 25px;
    height: 50px;
    background: #40010D;
    margin-bottom: 25px;
    padding-bottom: 30px;
}

.postimg {
    height: 275px;
    width: 450px;
    display: block;
    margin: 0 auto;

}

body {
    background-color: currentColor;
}

h3,
p {
    color: aliceblue;
}

ul {
    text-align: center;
    /*    rashiriaet sam teg */
    padding-bottom: 40px
}

nav ul li {
    display: inline-block;
    /*    rastojanie */
    padding-left: 70px;

}

/*letter-spacing rastojanie mezdu bukvami*/
nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px
}

article {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 20px;


}

/* tekst v poste */

article p,
article a {
    font-family: 'Niramit', sans-serif;
    padding-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


/*knopki article*/

article a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    background: #40010D;
    padding-top: 1px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* hover eto navodim kursor*/
nav a:hover {
    color: #8C030E;

}

article a:hover {
    color: #0D0D0D;
}

/*footer*/

footer {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Bebas Neue';


}

footer a {
    text-decoration: none;
    color: aliceblue;

}

footer a:hover {
    color: #8C030E;
}

i {
    font-size: 45px;

}

hr {
    border: solid 1px #8C030E;
    background: #8C030E;
    margin-top: 10px;
}


/*Media Queries */
/*Mobilka*/
@media screen and (max-device-width: 800px) and (min-device-width: 319px) and (orientation: portrait) {
    h1 {
        font-size: 100px;
    }

    header {
        height: 500px;
        background-attachment: local;
    }

    nav {
        width: 20%;
        position: fixed;
        background: transparent;
        margin-top: -45%;
        margin-left: -7.5%;
    }

    ul li {
        margin-top: 30px;
    }

    .top-article {
        margin-top: 30px;
    }

    .postimg {
        height: 475px;
        width: 650px;
        display: block;
        margin: 0 auto;

    }
}


/*Tablets*/
@media screen and (max-device-width: 1025px) and (min-device-width: 800px) and (orientation: portrait){
    header {
        height: 500px;
        background-attachment: local;
    }
    nav{
        overflow: hidden;
    }
    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
    }
}